<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/main.css">
  <title>{{ title or "YKCPA" }}</title>
</head>
<body>
  <header>
    <h1><a href="/">YKCPA</a></h1>
    <header>
  <nav>
    <ul style="display: flex; gap: 1rem; list-style: none; padding: 0;">
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <hr>
</header>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <hr>
    <p>© 2024 Yehoshua Krupnick CPA</p>
  </footer>
</body>
</html>